<link rel="stylesheet" href="/public/css/home.css">

<div class="app">
  <div class="alert">
    <img src="/public/images/icon.jpg" alt="" class="icon">
    <h1 class="text-center">Anatomia Descomplicada</h1>
    <h2 class="text-center">Disponível em breve</h2>
    <h4 class="text-center"><a target="_blank" href="https://instagram.com/anatodescomplica" class="this-app"> @anatodescomplica</a> | Desenvolvido por <a target="_blank" href="https://instagram.com/danilocosstaa" class="creator"> @danilocosstaa</a> </h4>
  </div>
</div>